body {
	background-color: #555;

	font-family: 'Raleway', sans-serif;
	font-size: 5vw;
	color: #bababa;
}

button {
	padding: none;
	margin: none;
	display:block;
	float: left;

	background-color: #222; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;

    font-family: 'Oswald', sans-serif;
    font-size: 5vw;

    z-index: 20;
}

button:active {
  	background-color: #000;
  	transform: translateY(4px);
}

.left-edge {
	border-radius: 2vw 0vw 0vw 2vw;
}

.right-edge {
	border-radius: 0vw 2vw 2vw 0vw;
}

.important-text {
	font-family: 'Oswald', sans-serif;
}

.center {
	display: block;
	margin: auto;
}

.row {
	height: 10vw;
}
.fill {
	height: 100%;
}
.space {
	height: 16.66vw;
}

#game {
	background-color: #171616;
	position: relative;
}

#logo {
	position: absolute;
	top: 16.66vw;
	left: 16.66vw;

	transition: opacity 1s;
	-webkit-transition: opacity 1s;

}

#scene {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;

	z-index: 0;
}

#particles-js {
	z-index: 0;
}

#particles-js-back {
	z-index: 0;
}

.ps {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

#navigation {
	position: absolute;
	left: 16.66vw;
	bottom: 16.66vw;

	height: 12vw;
	z-index: 20;
}

#config {

	position: absolute;
	top: 73vw;
	left: 16.66vw;

}

#navigation button{

	height: 100%;
}

/*Radio Button Styling*/
ul {
	margin:0;
    padding: 0;
}

.radio-override {
    list-style-type:none;
    text-align: center;
    z-index: 20;
}

.radio-override li {
    float:left;
    height:100%;
    position:relative;
        text-align: center;
}

.radio-override label, .radio-override input {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.radio-override input[type="radio"] {
    opacity:0.01;
    z-index:100;
}

.radio-override input[type="radio"]:checked + label,
.Checked + label {
    border:4px solid #bababa; 
}

.radio-override label {
     cursor:pointer;
    z-index:90;
}

.radio-override label:hover {
	background-color: blue;
}

input[type="text"] {
	padding: 0;
	margin: 0;

	border: 0.5vw solid #171616;

    font-family: 'Oswald', sans-serif;
    font-size: 5vw;
    color: #171616;

    z-index: 20;
}

.input-top {
	border-radius: 2vw 2vw 0 0;
}

.input-bottom {
	border-radius:  0 0 2vw 2vw;
}

#sign-up-current-player {
	font-size: 15vw;
	text-align: center;
	left: 16.66vw;
	top: 14vw;
	position: absolute;
}

.sign-up {
	position: absolute;
    transition: top 0.2s, left 0.2s, width 0.2s;
	-webkit-transition: top 0.2s, left 0.2s, width 0.2s;
}

#sign-up-1 {
	left: 16.66vw;
}

#sign-up-2 {
	left: 37.33vw;
}

#sign-up-3 {
	left: 58vw;
}

#sign-up-message {
	text-align: center;
	left: 16.66vw;
	top: 70vw;
	position: absolute;
	font-size: 4vw;

}

#scoreboard {

	position: absolute;
	bottom: 95vw;
	left: 4vw;

	width: 90vw;

	border: 1vw solid black;
	background-color: #222; /* Grey */

}

.player {
	width: 100%;
	font-family: 'Oswald', sans-serif;
    font-size: 5vw;

    display: block;
	float: left;

}

.shot {

	width: 5%;
	height: 6vw;

	display: block;
	float: left;

    text-align: center;


}

#total {

	width: 10%;
	height: 6vw;

	display: block;
	float: left;

    text-align: center;

	border: 0.5vw solid blue;

}
 
.avatar {
	width: 26.6%;
	height: 6vw;

	float: left;
	border: 0.5vw solid red;

}

#target {
	position: relative;

	width: 100vw;
	height: 90vh;

	z-index: 20;

	-webkit-animation-duration: 0.1s; /* Safari 4.0 - 8.0 */
    animation-duration: 0.1s;


}

.target-ring {
	position: absolute;
    border-radius:100%;
}

.seven-shot {
		
	width: 15vw;
	height: 15vw;

	bottom: 70vw;

	background-color: black;
	border: 1vw solid black;
	opacity: 1;

}

.seven-shot:disabled {
	opacity: 0.1;
}

#zero-point {

	position: absolute;

	width: 90vw;
	height: 90vw;

	bottom: 0vw;
	left: 5vw;

	border: 1vw solid black;

}

#one-point {

	width: 60vw;
	height: 60vw;
	border: 1vw solid red;

	bottom: 15vw;
	left: 20vw;

}

#three-point {

	width: 40vw;
	height: 40vw;
	border: 1vw solid blue;

	bottom: 25vw;
	left: 30vw;

}

#five-point {

	width: 20vw;
	height: 20vw;
	border: 1vw solid red;

	bottom: 35vw;
	left: 40vw;

}

#seven-point-left {
	right: 15vw;

}

#seven-point-right {
	left: 15vw;
}


#in-game-ui {
	width: 100vw;
	height: 10vh;
	position: relative;
	z-index: 20;
}

.in-game-ui-button {

	width: 15vw;
	height: 100%;

	display: block;
	float: right;

}


